/* Variables */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: 'Organetto';
    src: url('../fonts/Fontspring-DEMO-organetto-regular.otf')format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Organetto';
    src: url('../fonts/Fontspring-DEMO-organetto-bold.otf')format('opentype');
    font-weight: bold;
    font-style: normal;
}
.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgb(254, 101, 1);
    top: 0;
    transition: top 1s ease-in-out;
    
}
.loader p{
    color:antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
body {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    line-height: 1.5;
}

section.info,
section.about,section.testimonials,section.events {
    padding: 20px 10%;
}
section.counters{
    padding: 60px 0;
}
.menu ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 5px;
}
.menu ul li a:hover {
    color: rgb(18, 57, 128);
}

img {
    max-width: 100%;
}

.logo img {
    height: 85px;
    padding: 0px 20px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin: 0 10px;
}

li a:after {
    content: "";
    display: block;
    left: 0;
    height: 3px;
    background-color: rgb(254, 101, 1);
    width: 0%;
    transition: all .3s ease-in-out;
    opacity: 0;
    border-radius: 4px;
}

li a:hover:after {
    width: 100%;
    opacity: 1;
}

.home {
    background: linear-gradient(90deg, rgba(254, 102, 1, 0.681), rgb(254, 101, 1)), url("../images/skyscrapers-high-buildings-new-york-downtown-usa.jpg");
    min-height: 700px;
    width: 100%;
    background-position: 50%;
    background-size: cover;
    position: relative;
}

h1 {
    font-size: 50px;
}
.footer_info a{
    text-decoration: none;
    color: coral;
}
/*Navbar*/
.navbar {
    position: fixed;
    padding: 10px 10px 10px 0px;
    background-color: #ffffff;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .24);
    width: 100%;
    z-index: 99;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu ul {
    display: flex;
}


/* Menu-Hamburger */
.navbar .menu-hamburger {
    display: none;
    width: 35px;
    position: absolute;
    top: 30px;
    right: 50px;
    z-index: 101;
}

@media screen and (max-width:840px) {
    .container {
        padding: 0;
    }

    .navbar .menu-hamburger {
        display: block;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu ul li a {
        color: rgb(223, 196, 185);
    }

    .menu ul li a:hover {
        color: rgb(254, 101, 1);
    }

    .menu ul li a {
        margin: 25px 0;
        font-size: 1.2em;
    }
}

/* .mobile-menu {
    margin-left: 0;
    background-color: rgba(18, 57, 128, 0.789);
    backdrop-filter: blur(3px);
} */

/* Hero-section */
.Hero-section {
    padding: 0 10px;
    padding-top: 150px;
}

.text-container {
    display: table;
    table-layout: fixed;
    vertical-align: middle;
    width: 100%;
}

.description {
    padding-top: 15vw;
    padding-bottom: 15vw;
    color: antiquewhite;
    text-align: center;
    list-style: none;
    padding: 83px 120px;
    display: block;
    align-items: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.entry-content {
    padding-top: 10px;
}

.Hero-section .description p {
    padding-top: 20px;
}


/* Information */
.info {
    margin-bottom: 50px;
}
.step{
    padding: 40px 0;
    display: flex;
    justify-content: center;
    
}
.step1,.step2,.step3,.step4{
    display: flex;
    padding: 0 20px;
    flex: 1;
}
.step4 .step_item{
   opacity: 0;
}
.step_item i{
    font-size: 5rem;
    font-weight:bolder;
    color: rgb(247, 122, 37);
    position: relative;
}
.step_text p{
    display: flex;
    justify-content: center;
}
.number{
    display: flex;
    justify-content: center;
    color: rgb(247, 122, 37);
}
.number h2{
    margin: 0px;
}
.btn-Hero{
    display: flex;
    justify-content: center;
}
.btn-Hero a{
    text-decoration: none;
    color: #fff;   
}
.btn-Hero a:hover{
    color: rgb(254, 101, 1);
    transform: scale(1.15);
    background-color: rgba(255, 255, 255, 0);
    transition: 0.5s ease-in-out;
}
/* Buttons */
.secondary_btn{
    background-color: rgb(18, 57, 128);
    color: #fff;
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
    justify-content: center;
    text-transform: uppercase;
    box-shadow: 0 32px 80px -32px rgba(0, 0, 0, .24);
}
.secondary_btn:hover{
    transform: scale(1.15);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
.orange_btn {
    background-color: rgb(247, 122, 37);
    color: #fff;
    display: inline-block;
    padding: 20px 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
    justify-content: center;
}

.orange_btn:hover {
    color: rgb(254, 101, 1);
    transform: scale(1.15);
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid rgb(254, 101, 1);
    transition: 0.5s ease-in-out;
}

.btn-block {
    display: block;
    width: 100%;
}

/* A propos de nous */
.savoir_plus{
    text-decoration: none;
    color: #fff;
}
.savoir_plus:hover{
    color: rgb(254, 101, 1);
    transition: 0.5s ease-in-out;
}
.about {
    align-items: center;
}

.about-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 40px 0;
    height: 450px;
    margin-bottom: 20px;
}

.image_box_owner {
    width: 45%;
    height: 100%;
}

.image_box_owner img {
    height: 285px;
    object-fit: cover;
    border-radius: 6px;
}

.content_box {
    width: 50%;
}

.about-title {
    text-transform: uppercase;
    color: rgb(18, 57, 128);
    letter-spacing: 2px;
    position: relative;
}

.content_box button {
    margin-top: 30px;
}

/*Testimonials*/
.title-box{
    display: flex;
    justify-content: center;
}
.slide-row {
    display: flex;
    justify-content: start;
    margin-right: 20px;
    width: 3200px;
    transition: 0.5s;
    
}

.testimonials {
    background: linear-gradient(rgba(17, 57, 125, 0.73), rgba(12, 39, 88, 0.796)),url("/images/Background\ \(2\).jpg");
    height: 970px;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px;
    
}
.testainer_big{
    display: flex;
    justify-content: center;
}
.testainer_tipe{
    width: 677px;
    height: 620px;
    position: relative;
}
.image_box_testimonial_ds{
    width: 322px;
    height: 260px;
    margin-right: 5px;
    background: url("../images/WhatsApp\ Image\ 2025-02-14\ à\ 13.19.50_0389430d.jpg");
    border-radius: 6px;
    background-position-y: -45px;
    background-size: cover;
}
.image_box_testimonial_jfq{
    width: 322px;
    height: 260px;
    margin-right: 5px;
    background: url("../images/Jacques-Fame-Ndongo_prime.jpg");
    border-radius: 6px;
    background-size: cover;
}
.image_box_testimonial_ab{
    width: 322px;
    height: 260px;
    margin-right: 5px;
    background: url("../images/AchilleBasilekin.jpg");
    border-radius: 6px;
    background-size: cover;
}
.image_box_testimonial_pb{
    width: 322px;
    height: 260px;
    margin-right: 5px;
    background: url("../images/PaulBiya.jpg");
    border-radius: 6px;
    background-size: cover;
}
.image_box_testimonial img {
    border-radius: 6px;
}

.testimonial-word {
    background: linear-gradient(rgb(231, 86, 37), rgb(215, 71, 23));
    border-radius: 6px;
    display: grid;
    place-items: center;
    width: 350px;
}

.testimonial-word p {
    padding: 20% 20px;
    color: antiquewhite;
}

.testimonial-word i {
    font-size: 50px;
}

.testititle {
    color: #fff;
}

.testimonial {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fonction{
    padding: 0;
}
.testimonial-word:hover {
    box-shadow: 0 32px 80px -32px rgba(0, 0, 0, .24);
}

.indicator{
    position: relative;
    display: flex;
    justify-content: center;
    top:  20px;
}
.btn{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: #fff;
    cursor:pointer;
}
.active{
    width: 45px;
}
/* Counter */
.counters{
    display: flex;
    align-items: center;
    justify-content:center;
}
.counter-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
}
.counter{
    width: 25%;
}
.counter-num{
    display: flex;
    flex-direction: row;
}
.counter-num span{
    width: 70%;
    text-align: end;
    color: crimson;
}
.counter h2 p{
    text-align: center;
}
h2.count{
    text-align: center;
    color: crimson;
}
p.count_text{
    text-align: center;
    font-size: 1.4rem;
}
h2.plus{
    width: 70%;
    text-align: end;
    
}
/*partenaires*/

/* .partners h2{
    text-align: center;
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.641), rgba(0, 0, 0, 0.458)),url("../images/skyscrapers-high-buildings-new-york-downtown-usa.jpg");
    background-size: cover;
    background-position: 50%;
    padding: 20px 0;
    color:aliceblue;

} */
 /* Events */
 .events{
    background:linear-gradient(90deg, rgba(253, 0, 0), rgb(17, 56, 125)),url("../images/Background\ \(2\).jpg");
    background-size: cover;
    background-position: 50%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }
 .event{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    background: #fff;
    max-width: 550px;
    height: 500px;
    margin-bottom: 10px;
    margin-top: 40px;
    border-radius: 12px;
    overflow: hidden;
 }
 .event_image{
    background: url("../images/Turkeycameroonmain.jpg");
    background-size: cover;
    background-position:0 -90px;
    width: 550px;
    height: 250px ;
 }
 .event_image2{
    background: url("../images/1740081847820.jpg");
    background-size: cover;
    width: 550px;
    height: 300px ;
 }
 .event_image3{
    background: url("../images/Event1.png");
    background-size: cover;
    width: 550px;
    height: 250px ;
 }
 /* .event_title{
    padding: 0 40px;
    max-height: 50px;
 } */
 .event_title a{
    
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
 }
 .illustration {
    min-width: 300px;
    height: 50px;
 }
 .event-text{
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    padding: 0 20px 50px;
 }
 .news_text{
    color: antiquewhite;
 }
 /* Localisation */
 .inscription a{
    text-decoration: none;
    list-style: none;
 }
 .localisation{
    background-image: url("../images/Pied_de_page.jpg");
    background-size: cover;
    padding: 20px 0;
 }
 .locontent{
    width: 90%;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
 }
 .container-logoloca{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
 }
 /* @media (max-width: 980px){
    .locontent{
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0;
    }
 } */
 .logoloca{

    margin-right: 5.5%;
    margin-bottom: 30px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
 }
 .liensutiles{
    width: 47.25%;
    margin-right: 5.5%;
    margin-bottom: 30px;
    display: flex;
    flex: 1.5;
    flex-direction: column;
 }
 .contacts{
    width: 47.25%;
    margin-right: 5.5%;
    margin-bottom: 30px;
    display: flex;
    flex: 1.5;
    flex-direction: column;
 }
 .newsletter{
    width: 47.25%;
    margin-right: 5.5%;
    margin-bottom: 30px;
    display: flex;
    flex: 1;
    flex-direction: column;
 }
 .titlesquare::after{
    content: "";
    display: block;
    position: relative;
    left: 110px;
    bottom: 11px;
    height: 3px;
    background-color: gold;
    width: 90px;
    border-radius: 4px;
 }
 .titlesquare{
    font-size: 9rem;
    margin-bottom: 30px;
 }
 .subsquare{
    width: 32px;
    display: table-cell;
 }
 .sub-img{
    width: 32px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .sub-img a{
    text-decoration: none;
 }
 .sub-img i{
    color: rgb(17, 56, 125);
    font-size: 20px;
 }
 .sub-text{
    display: flex;
    justify-content: center;
    padding-left: 15px;
 }
 .propos,.programmes,.Evenements,.partenaires,.FAQ,.number_c,.mail,.BP,.pinpoint{
    width: 100%;
    max-width: 550px;
    position: relative;
    margin: 0 auto 0 0;
    display: flex;
    flex-direction: row;
    text-align: left;
 }
 .localisation input[type="email"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 20px 0;
 }
 .socialnetwork{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 45%;
 }
 .socialnetwork a img{
    text-decoration: none;
    width: 20px;
 }
 /*Footer*/
 .main_footer{
    background-color: black;
 }
 .footer_info {
    display: flex;
    justify-content: center;
    color: antiquewhite;
    padding: 20px 20px;
 }
 /*Footer*/
 .main_footer{
    background-color: black;
 }
 .footer_info {
    display: flex;
    justify-content: center;
    color: antiquewhite;
    padding: 20px 20px;
 }

/*Utility classes*/
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 14px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 14px;
}

.text-mxxl {
    font-size: 5rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xxl {
    font-size: 2.7rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 0px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 10px;
}

.text-sm {
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 300;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

/* .about{
    margin-left: 5%;
    border-radius: 30vw 0 0 30vw;
    overflow: hidden;
    background-image: linear-gradient(45deg,rgba(254, 102, 1, 0.681) 8%, rgb(254, 101, 1) 84%),url("../images/1.jpg");
    background-size: cover;
    background-position: center;
} */

/* Mobile Menu */
.close{
    right: -500px;
    width: 35px;
    position: absolute;
    font-size: 40px;
    top: 10px;
    z-index: 101;
    color: antiquewhite;
}
.close.active{
    right: 50px;
}
.mobile-menu{
    position: fixed;
    top: 0;
    /* right: -300px; */
    right: -500px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background-color: rgba(18, 57, 128);
    box-shadow: -10px 0px 10px rgba(0,0,0,0.1);
    transition: right 0.3s ease-in-out;
    backdrop-filter: blur(5px);
}

.mobile-menu.active{
    right: 0;
}
.menu-hamburger.none{
    display: none;
}
.menu-hamburger.appear{
    display: block;
}
.mobile-menu ul li a::after {
    content: "";
    display: block;
    left: 0;
    height: 3px;
    background-color: rgb(254, 101, 1);
    width: 0%;
    transition: all .3s ease-in-out;
    opacity: 0;
    border-radius: 4px;
}
.mobile-menu ul li a:hover:after {
    width: 50%;
    opacity: 1;
}
.mobile-menu ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    transition: 0.3s;
    font-weight:500;
    padding: 0 0 0 5px;
}

.mobile-menu ul li{
    margin: 10px 10px 10px 10px;
}
.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}
 /* Responsive */
 /* @media screen and (max-width:1653px) {
    body{
        transition: margin-left .5s;
    }
    section{
        padding: 20px;
    }
    .home{
        min-height: 50vh;
    }
    .
} */
@media (max-width:960px){
    
}
@media (max-width:840px){
    .navbar .menu{
        display: none;
    }
    .step{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .step_item i{
        opacity: 0;
    }
    .step1,.step2,.step3,.step4{
        padding: 10px 0;
    }
    .about-content{
        flex-direction: column;
    }
    .image_box_owner{
        width: 100%;
    }
    .content_box{
        width: 100%;
       
    }
    .about{
        margin-bottom: 200px;
        padding: 0px;
    }
    .counter-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .counter-num span{
        text-align: center;
    }
    .newsletter{
        flex: none;
    }
}
@media (max-width:500px){
    .about-content{
        height: 600px;
    }
    
    .event{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        background: #fff;
        max-width: 550px;
        height: 420px;
        margin-bottom: 20px;
        margin-top: 40px;
        border-radius: 12px;
        overflow: hidden;
     }
     .event-text{
        display: flex;
        align-items: center ;
        padding: 0 20px 05px;
     }
     .news_text{
        color: antiquewhite;
     }
     .orange_btn:hover {
        color: rgb(254, 101, 1);
        transform: scale(1.05);
        background-color: rgba(255, 255, 255, 0);
        border: 3px solid rgb(254, 101, 1);
        transition: 0.5s ease-in-out;
    }
    .locontent{
        width: 90%;
        max-width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        align-items: center;
     }
     .logoloca{
        width: 47.25%;
        margin-right: 5.5%;
        margin-bottom: 30px;
        display: flex;
        flex: 1.5;
        flex-direction: column;
     }
     .footer_info {
        display: flex;
        justify-content: center;
        color: antiquewhite;
        font-size: 0.65rem;
        flex-direction: column;
     }
     .footer_info a{
        padding-left: 100px;
     }
     p.count_text{
        text-align: center;
        font-size: 1.2rem;
    }
    .text-mxxl {
        font-size: 4rem;
        line-height: 1.2;
        font-weight: 600;
        margin: 40px 0 20px;
    }
    .home {
        background: linear-gradient(90deg, rgba(254, 102, 1, 0.681), rgb(254, 101, 1)), url("../images/skyscrapers-high-buildings-new-york-downtown-usa.jpg");
        min-height: 0px;
        height: 500px;
        width: 100%;
        background-position: 50%;
        background-size: cover;
        position: relative;
    }
    .slogan{
        font-size: 2.2rem;
    }
    .description p{
        font-size: 1rem;
    }
    .Hero-section{
        padding: 0 ;
    }
    .description{
        padding: 150px 5% 0 5%;
    }
    
    .text-xxl {
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 600;
        margin: 40px 0 20px;
    }
    
    .text-xl {
        font-size: 2.2rem;
        line-height: 1.4;
        font-weight: 600;
        margin: 0px 0 20px;
    }
    
    .text-lg {
        font-size: 1.8rem;
        line-height: 1.4;
        font-weight: normal;
        margin: 30px 0 20px;
    }
    
    .text-md {
        font-size: 1rem;
        line-height: 1.4;
        font-weight: normal;
        margin: 10px 0 10px;
    }
    
    .text-sm {
        font-size: 1rem;
        line-height: 1.4;
        font-weight: 300;
        margin: 10px 0 5px;
    }
    .testimonial-word {
        background: linear-gradient(rgb(231, 86, 37), rgb(215, 71, 23));
        border-radius: 6px;
        display: grid;
        place-items: center;
        width: 250px;
        height: 400px;
    }
    .image_box_testimonial_ds{
        width: 140px;
        height: 200px;
        margin-right: 5px;
        background: url("../images/WhatsApp\ Image\ 2025-02-14\ à\ 13.19.50_0389430d.jpg");
        border-radius: 6px;
        background-position-y: -25px;
        background-size: cover;
    }   
    .image_box_testimonial_jfq{
        width: 160px;
        height: 200px;
        margin-right: 2px;
        background: url("../images/Jacques-Fame-Ndongo_prime.jpg");
        border-radius: 6px;
        background-size: cover;
        background-position: 40%;
    }
    .image_box_testimonial_ab{
        width: 170px;
        height: 200px;
        margin-right: 5px;
        background: url("../images/AchilleBasilekin.jpg");
        border-radius: 6px;
        background-size: cover;
        background-position: 40%;
    }
    .image_box_testimonial_pb{
        width: 160px;
        height: 200px;
        margin-right: 5px;
        background: url("../images/PaulBiya.jpg");
        border-radius: 6px;
        background-size: cover;
    }
    .testimonial-word p {
        padding: 20% 20px;
        color: antiquewhite;
    }
    
    .testititle {
        color: #fff;
    }
    
    .testimonial {
        width: 100%;
        height: 80%;
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 2px;
    }
    .testimonial-word p {
        padding: 20% 20px;
        color: antiquewhite;
        font-size: 0.7rem;
    }
    .testimonials {
        background: linear-gradient(rgba(17, 57, 125, 0.73), rgba(12, 39, 88, 0.796)),url("/images/Background\ \(2\).jpg");
        height: 800px;
    }
    .indicator{
        position: relative;
        display: flex;
        justify-content: center;
        top: 0.5px;
    }
    
    .slide-row.PaulBiya{
        margin-left:10px ;
    }
    .testainer_tipe{
        width: 410px;
    }
}